[package]
name = "wasm-opt-sys"
version = "0.0.0"
description = "Native wasm-opt build"
license = "MIT / Apache-2.0"
edition = "2021"

[build-dependencies]
anyhow = "1.0.58"
cc = { version = "1.0.73", features = ["parallel"] }
